.buttoncss:hover{
    /* background-color: #f5f5f5 !important; ;
    color:#0294b3 !important; */
    background-color:#24b3d4 !important; ;
    color:#fff !important;
}
.labelAddCategory{
    display: flex;
    margin-bottom: 1rem !important;
}
.fieldAddCategory{
    display: flex !important;
    width: 40vw;
    /* margin-top: -1rem; */
    border: 1px solid #e6e6e6;
    min-height: 6vh;
    padding: 0;
    border-radius: 5px;
    padding: 0.4rem;
}
.custom_height{
    min-height: 15vh !important;
}

@media screen and (max-width: 780px) {
    .fieldAddCategory{
        width: 80vw !important;
    }
    .labelAddCategory{
        justify-content: center;
    }
}