.MuiCheckbox-colorSecondary.Mui-checked {
color:#0294b3 !important;

}
.MuiCheckbox-colorPrimary.Mui-checked {
color:#0294b3 !important;

}

.MuiSpeedDial-directionUp{
    flex-direction: row !important;
}
.MuiFab-primary{
    background-color: #0294b3 !important;
}

.heightfix{
    height: 38px !important;
    min-width: 20vw !important;

}